.container{
    width: 100%;
    height: 82vh;    
    margin-top: 10px;
}

.nameContainer{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.name{
    color: red;
    font-family: 'Lato', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 50px;
    margin-left: 30px;
}

.detailsContainer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
}

.firstColumn{
    height: 97%;
    width: 33%;
    margin: 1%;
}

.secondColumn{
    height: 97%;
    width: 33%;
    margin: 1%;
}

.thirdColumn{
    height: 97%;
    width: 33%;
    margin: 1%;

}

.imageContainer{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.evolutionContainer{
    height: 38%;
    width: 100%;
    margin-top: 3%;
    overflow: hidden;
    overflow-y: scroll;

}

.image{
    height: 95%;
    background-color: white;
    border-radius: 100%;
    box-shadow: 5px 5px 15px black;
}

.evolutionTitle{
    font-family: 'Lato', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-size: 30px;
    color: #a800a0;
    padding-left: 10px;
}

.evolutionName{
    color: #a800a0;
    padding-left: 10px;
    font-family: 'Lato', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.individualEvolution{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20px;

}

.evolutionImage{
    height: 100%;
    width: fit-content;
    margin: 5%;
    background-color: white;
    border-radius: 100%;
    box-shadow: 2px 2px 2px #a800a0;
    padding: 5px;
    border: 1px solid #a800a0;
    margin-top: 20px;
}

.info{
    font-family: 'Lato', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    margin-left: 2%;
    color: #535353;
    font-style: italic;
}


