.instructionsContainer {
  position: absolute;
  align-items: center;
  background-color: white;
  width: 23%;
  height: 10%;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px #ccc;
  border-radius: 10px;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: justify;
  display: flex;
  padding: 15px;
}

.image {
  width: 100px;
}

.instructions {
  font-family: "Lato", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

span {
  font-weight: 900;
  color: red;
}


/* Tablet */

@media (max-width: 820px) {
  .instructionsContainer {
    width: 66%;
    top: 25%;
  }
  .image {
    width: 50px;
  }
  .instructions {
    font-size: 18px;
  }
}

/* Phone */

@media (max-width: 576px) {
  .instructionsContainer {
    width: 68%;
        top: 20%;
  }
  .image {
    width: 50px;
  }
  .instructions {
    font-size: 13px;
  }
}
