.container {
  position: absolute;
  background-color: white;
  width: 25%;
  height: 82%;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px #ccc;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
}

.title {
  font-family: "Lato", "Arial Narrow", Arial, sans-serif;
  color: rgb(141, 0, 0);
  font-weight: 900;
  font-size: 50px;
  margin: 0;
  display: block;
  margin-top: 40px;
}

.info {
  font-family: "Lato", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  color: #707070;
  margin: 0;
}

.button {
  font-family: "Lato", "Arial Narrow", Arial, sans-serif;
  width: 80%;
  padding: 8px;
  background-color: rgb(141, 0, 0);
  border-radius: 5px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 25px;
}

.button:hover > .buttonText {
  font-weight: 900;
}

.button:hover {
  cursor: pointer;
}

.buttonText {
  color: white;
  font-size: 12px;
  font-weight: 700;
}

.buttonIcon {
  width: 20px;
  margin-right: 20px;
}

.errorMessage {
  font-family: "Lato", "Arial Narrow", Arial, sans-serif;
  color: red;
  font-size: 13px;
  font-weight: 900;
  margin-top: 5%;
  margin-bottom: 2%;
}

.succesfulMessage {
  font-family: "Lato", "Arial Narrow", Arial, sans-serif;
  color: blue;
  font-size: 13px;
  font-weight: 900;
  margin-top: 5%;
  margin-bottom: 2%;
}

/* Desktop */

@media (min-width: 1200px) {
  .container {
    width: 40%;
    height: 85%;
    top: 55%;
  }
  .title {
    margin-top: 20px;
  }
  .info {
    font-size: 14px;
  }
}

/* Tablet */

@media (max-width: 820px) {
  .container {
    width: 75%;
    height: 50%;
  }
  .title {
    margin-top: 30px;
  }
  .info {
    font-size: 14px;
  }
}

/* Phone */

@media (max-width: 576px) {
  .container {
    width: 75%;
    height: 80%;
  }
  .title {
    margin-top: 10px;
  }
  .info {
    font-size: 10px;
  }
}
