.statsTitle{
    font-family: 'Lato', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-size: 30px;
    color: #0090d3;
    padding-left: 10px;
}


.individualStat{
    height: 50px;
}


/* Tablet */
@media (max-width: 820px) {
    .statsTitle{
        font-size: 50px;
        margin-bottom: 0;
        margin-top: 20%;
    }

    .individualStat{
        margin-top: 0;    
    }

}
/* Phone */
@media (max-width: 576px) {
    .statsTitle{
        font-size: 30px;
        margin-bottom: 0;
    }

    .individualStat{
        margin-top: 0;    
    }


}
